body{
    background-color: #14121c;
    color: #ffff;
    font-family: 'League Spartan', sans-serif;
}
/* typography */
h1{
    font-size: 4em;
}
h2{
    font-size: 3em;
}
p{
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
li{
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
}
.arrow-icon{
    width: 1.5em;
}
.socials-icon{
    width: 3em;
}
.language-icon{
    width: 8em;
}
.btn-1-tittle button{
    height: 4em;
    width: 300px;
    font-size: 1.2em;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid #64698D;
    color: #ffff;
    cursor: pointer;
}
.btn-1-tittle button:hover{
    height: 4.5em;
}
.btn-2-mycv button{
    height: 4em;
    width: 300px;
    font-size: 1.2em;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid #64698d;
    color: #ffff;
    margin: 3em 0 4em 0;
    text-align: left;
    cursor: pointer;
}
.btn-2-mycv button img{
    height: 1.5em;
    color: #64698d;
}
.btn-2-mycv button:hover{
    height: 4.5em;
}
.column-two img{
    width: 300px;
    border-radius: 50% 0 50%;
    /* height: 40px; */
}
.search-bar{
    width: 550px;
}
.about{
    width: 45%;
}
/* layout */
.section-container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}
.section2-container{
    display: flex;
    justify-content:space-between ;
    /* height: 100vh; */
    align-items: center;
}
.search-bar-column{
    display: flex;
    order: -1;
}
.container-1{
    display: flex;
    justify-content: end;
    margin-bottom: 7em;
    align-items: center;
    height: 6em;
    background-color: #171520;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.container-1 ul{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.container-1 li{
    list-style: none;
    cursor: pointer;

}
.container-1 li:hover{
    border-bottom: 2px solid #ffff;
}
